@import url("./typography.css");
@import url("./colours.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  b,
  strong {
    @apply font-semibold;
  }
}

@layer utilities {
  .max-w-prose {
    max-width: 65ch;
  }
}

@layer components {
  .is-container {
    --padding: 1rem;
    --max-width: 1024px;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    @apply mx-auto;
  }
  .is-grid-card-fit {
    grid-template-columns: repeat(
      auto-fill,
      minmax(min(var(--card-width, 320px), 100%), 1fr)
    );
  }
  .is-page-height {
    @apply min-h-screen py-4 pb-12;
  }
  /* Sets the widths within `/tipping` */
  .is-layout-tipping .is-container {
    @apply md:w-full md:px-8;
  }
  /* sets the heights within `/tipping` */
  .is-layout-tipping .is-page-height {
    @apply py-4 md:py-6 md:pb-10;
    @apply min-h-screen h-full;
  }
}

/* @link https://heropatterns.com/ */
.is-bg-pattern {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23c5c7cc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
