:root {
  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1024,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.6944rem, 0.6903rem + 0.0205vw, 0.7035rem);
  --step--1: clamp(0.8333rem, 0.7859rem + 0.2373vw, 0.9377rem);
  --step-0: clamp(1rem, 0.8864rem + 0.5682vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.9881rem + 1.0597vw, 1.6663rem);
  --step-2: clamp(1.44rem, 1.0849rem + 1.7753vw, 2.2211rem);
  --step-3: clamp(1.728rem, 1.1677rem + 2.8017vw, 2.9607rem);
  --step-4: clamp(2.0736rem, 1.2222rem + 4.257vw, 3.9467rem);
  --step-5: clamp(2.4883rem, 1.2281rem + 6.3013vw, 5.2609rem);
}

body {
  @apply is-size-6;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
